<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Cake</title>
</head>
<body>
<h1>Add Cake</h1>
<form action="#" th:action="@{/saveCake}"  th:object="${cake}" method="post">
    <table border="1">
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{description}" /></td>
        </tr>
        <tr>
            <td>Image URL:</td>
            <td><input type="text" th:field="*{imageURL}" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
<a href="/">List Cakes</a>
</body>
</html>