<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Cakes</title>
</head>
<body>
<h1>Cakes</h1>
<table border="1">
    <thead>
    <tr><th></th><th>Name</th><th>Description</th></tr>
    </thead>
<tr th:each="cake: ${cakes}">
    <td><img th:src="${cake.imageURL}" width="50px" height="50px"/></td>
    <td th:text="${cake.name}" ></td>
    <td th:text="${cake.description}" ></td>
</tr>
</table>
<a href="/addCake">Add Cake</a>
</body>
</html>